<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $('.hamburger').click(function() {
    $('.menu-items').slideToggle();
  });
});
</script>

<h1 id="otroser-title" class="mobile"> <%= link_to "Otroser", root_path %></h1>
<div class="mobile-menu">
  <div class="hamburger"></div>
  <ul class="menu-items">
    <% @series.each do |serie| %>
      <li class="<%= serie.name.downcase %>">
        <%= link_to serie.name.upcase, serie_path(serie) %>
      </li>
    <% end %>
    <li><%= link_to "OTROSER", otroser_path %></li>
  </ul>
</div>

<div class="home-page" data-controller="dynamic-navbar">
  <div class="left-box">
    <div class="summary">
      <h1 id="otroser-title"><%= link_to "Otroser", root_path %></h1>
      <nav>
        <div class="container">
          <ul>
            <% @series.each do |serie| %>
              <li class="<%= serie.name.downcase %>">
                <%= link_to serie.name.upcase, serie_path(serie) %>
              </li>
            <% end %>
            <p></p>
            <li><%= link_to "OTROSER", otroser_path %></li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="right-box images-container">
    <% @series.each do |serie| %>
      <section id="<%= serie.name.downcase %>">
      <h2> <%= link_to serie.name.upcase, serie_path(serie) %> </h2>
        <% if serie.photos.attached? %>
          <a href= <%= serie_path(serie) %> >
            <img src="<%= cl_image_path(serie.photos[0].key) + ".jpg"  %>" alt="", class="big-images" data-controller="images-size">
          </a>
        <% else %>
          <%= image_tag("https://res.cloudinary.com/dz12yq9sa/image/upload/v1682676147/187_2_k0fwgl.jpg", class: "big-images", data: { controller: "images-size" } )%>
        <% end %>
        </section>
    <% end %>
  </div>
</div>
<div class="contact-infos">
  <a href="https://www.instagram.com/otroser______/">
    <img id="logo-insta" src="https://cdn141.picsart.com/264066759002212.png" alt="logo Instagram">
  </a>
  <p><b>Otroser</b> <br>Gustavo Salamie <br>  Vale Do Capão <br> <span style="text-decoration: underline;">Contacto:</span> <br> <a href="mailto:gustavo.salamie@gmail.com">gustavo.salamie@gmail.com</a>
</div>

<% if current_user %>
  <div class="admin-settings" style="text-align:center">
    <h1>Configuración de series</h1>
      <p><%= link_to "➕ Añadir", new_serie_path %></p>
      <ul>
        <% @series.each do |serie| %>
          <li>
            <p><%= link_to serie.name, series_path(serie) %>:
              <%= link_to(" 📝 Editar", edit_serie_path(serie)) %> -
              <%= link_to "❎  Suprimir", serie_path(serie), data: {turbo_method: :delete, turbo_confirm: "¿Está seguro?"} %></p>
          </li>
        <% end %>
      </ul>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
  </div>
<% end %>
